/* base */
body {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

div {
  display: block;
}

img {
  border-style: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* header section */
.header {
  background-color: black;
}

.header-content .container {
  color: white;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  display: flex;
  align-items: center;
}

.header-content img {
  padding-left: 0.5rem;
  padding-right: 1rem;
  height: 1.5rem;
}

.header-content span {
  font-family: Helvetica;
  font-size: 1rem;
  padding: 0.5rem 0;
}

/* top section */
.top-banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;
  padding-top: 9rem;
}

.headline {
  display: inline-flex;
  flex-wrap: wrap;
  color: white;
  font-family: Helvetica;
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
}

.headline h4 {
  display: block;
  font-size: 1rem;
}

.headline h1 {
  display: block;
  font-size: 2rem;
  margin: 0.25rem 0;
}

/* nav */
nav {
  background-color: firebrick;
  color: white;
}

ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline-flex;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  padding: 0.75rem 0;
  justify-content: space-between;
}

/* items, times, and location */
@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
      }
}

.pb.container {
  background-color: white;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.product {
  width: 30%;
  align-items: center;
}

.product span {
  background-color: black;
  color: white;
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 0.5rem 0;
  font-family: Helvetica, sans-serif;
}

.product-image {
  display: flex;
  height: 9rem;
  border: 4px solid black;
  padding-top: 2rem 0;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.product-image img {
  max-width: 8rem;
  align-content: center;
}

#location {
  background-color: black;
  display: block;
  text-align: center;
  padding: 1rem 0;
  font-family: Helvetica, sans-serif;
  color: white;
}

#hours {
  background-color: black;
  display: block;
  text-align: center;
  padding: 1rem 0;
  font-family: Helvetica, sans-serif;
  color: white;
}

.business-info {
  display: flex;
  justify-content: space-between;
}

.business-container {
  width: 35%;
}

/* footer */
footer {
  display: flex;
  background-color: black;
  height: 5rem;
  color: white;
  margin-top: 4rem;
}
